/* Reset some default styles */
body,
h1,
h2,
h3,
p,
button,
input,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Admin Login styling */
.admin-login-container {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-login-heading {
    text-align: center;
    color: #007bff;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-status {
    text-align: center;
    color: #e9300c;
    margin-bottom: 20px;
}

.admin-login-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

/* Input styling */
.admin-login-input {
    margin: 12px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
}

.admin-login-input:focus {
    border-color: #007bff;
}

/* Label styling */
.admin-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.admin-label span {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Button styling */
.admin-login-button {
    background-color: #007bff;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.admin-login-button:hover {
    background-color: #0056b3;
}

/* Responsive styling */
@media (max-width: 768px) {
    .admin-login-container {
        border-radius: 0;
        box-shadow: none;
    }
}