/* Reset some default styles */
body,
h1,
h2,
h3,
p,
button,
input,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Survey Form styling */
.survey-form-container {
    width: 500px;
    /* max-width: 600px; */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.survey-form-heading {
    text-align: center;
    color: #007bff;
    font-size: 24px;
    margin-bottom: 20px;
}

.submission-status {
    text-align: center;
    /* color: #dd0a0a; */
    margin-bottom: 20px;
}

.survey-form {
    display: flex;
    flex-direction: column;
}

/* Input and Textarea styling */
.survey-input {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
    /* Ensures inputs take full width */
}

.survey-input:focus {
    border-color: #007bff;
}

/* Label styling */
.survey-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.survey-label span {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Add error styling */
.survey-input.error,
.survey-label.error {
    border-color: red;
}

/* Add error styles for input and label */
.error-message {
    border-color: red;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/* Button styling */
.survey-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.survey-button:hover {
    background-color: #0056b3;
}

/* Responsive styling */
@media (max-width: 768px) {
    .survey-form-container {
        border-radius: 0;
        box-shadow: none;
    }
}