.survey-list-container {
    padding: 20px;
    background-color: lightgrey;
}

.survey-list-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.survey-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
}

.survey-table th,
.survey-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.survey-table th {
    background-color: #f2f2f2;
}

.loading-message {
    font-size: 16px;
    color: #888;
}