/* Navigation styles */
nav {
  background-color: #007bff;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

li {
  display: inline-block;
  margin-right: 20px;
}

/* Link styles */
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #004080;
}

body {
  margin: 30px;
  background-image: url('../public/image2.jpg');
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  background-size: cover;
  /* Cover the entire background */
  background-position: center;
  /* Center the image */
}